<!DOCTYPE html>
<html lang="pt-BR" ng-app="contaBancariaModulo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="img/favicon.ico">

<title>contaBancaria</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet">
<link rel="stylesheet" href="css/sweetalert.css">

<script src="js/angular.js"></script>
<script src="controller/contaBancaria.js"></script>
</head>

<body ng-app="contaBancariaModulo">

	<div ng-include src="'menu.html'"></div>
	<div ng-controller="contaBancariaController as controller">
		<div class="container">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#lista"
					aria-controls="lista" role="tab" data-toggle="tab">Lista de
						Conta Bancaria</a></li>
				<li role="presentation"><a href="#dados" aria-controls="dados"
					role="tab" data-toggle="tab">Dados</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="lista">
					<br> <label>Pesquisar:</label> <input type="text"
						ng-model="controller.pesquisaContaBancaria" id="pesquisa"
						placeholder="Digite aqui..."> <br> <br>

					<div class="container">
						<table class="table table-striped table-hover">
							<th class="col-sm-2">Número</th>
							<th class="col-sm-4">Descrição</th>
							<th class="col-sm-3">Dígito</th>
							<th class="col-sm-3">Agência</th>
							<tr
								dir-paginate="contaBancariaTabela in controller.contaBancarias | filter:controller.pesquisaContaBancaria |itemsPerPage:8"
								ng-dblclick="controller.selecionarContaBancaria(contaBancariaTabela)">
								<td>{{contaBancariaTabela.numero}}</td>
								<td>{{contaBancariaTabela.descricao}}</td>
								<td>{{contaBancariaTabela.digito}}</td>
								<td>{{contaBancariaTabela.agencia.descricao}}</td>
								<td>
									<button type="button" data-toggle="tooltip" title="Excluir ?"
										ng-click="controller.removeRow(contaBancariaTabela)"
										class="btn btn-xs btn-danger">
										<i class="glyphicon glyphicon-remove-circle"> </i>
									</button>
								</td>
							</tr>
						</table>
					</div>

				</div>

				<div role="tabpanel" class="tab-pane" id="dados">
					<br>
					<form class="form-horizontal">

						<div class="form-group">
							<label class="col-sm-2 control-label">Número:</label>
							<div class="col-sm-3">
								<input type="text" required
									ng-model="controller.contaBancaria.numero" class="form-control"
									placeholder="Código">
							</div>
							<label class="col-sm-2 control-label">Descrição:</label>
							<div class="col-sm-3">
								<input type="text" required
									ng-model="controller.contaBancaria.descricao"
									class="form-control" placeholder="Descrição">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Dígito:</label>
							<div class="col-sm-3">
								<input type="text" required
									ng-model="controller.contaBancaria.digito" class="form-control"
									placeholder="Dígito">
							</div>
							<label class="col-sm-2 control-label">Agência:</label>
							<div class="col-sm-3">
								<select class="form-control" required
									ng-model="controller.contaBancaria.agencia"
									ng-options="agencia.descricao for agencia in controller.agencias track by agencia.id">
								</select>
							</div>
						</div>

						<div class="panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Cobrança Bancária</h3>
							</div>
							<br />

							<div class="form-group">
								<label class="col-sm-2 control-label">Código Cobrança:</label>
								<div class="col-sm-3">
									<input type="text" required
										ng-model="controller.contaBancaria.codigoCobranca"
										class="form-control" placeholder="Código Cobrança">
								</div>

								<label class="col-sm-2 control-label">Código
									Transmissão:</label>
								<div class="col-sm-3">
									<input type="text" required
										ng-model="controller.contaBancaria.codigoTransmissao"
										class="form-control" placeholder="Código Transmissão">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Sistema :</label>
								<div class="col-sm-8">
									<select class="form-control" id="sistema" required
										ng-model="controller.negociante.sistema">
										<option>SICOB</option>
										<option>SIGCB</option>
									</select>
								</div>
							</div>
						</div>

						<div class="panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Cheque</h3>
							</div>
							<br />

							<div class="form-group">
								<label class="col-sm-2 control-label">Número do cheque:</label>
								<div class="col-sm-3">
									<input type="text" required
										ng-model="controller.contaBancaria.numeroCheque"
										class="form-control" placeholder="Número do cheque">
								</div>

								<label class="col-sm-2 control-label">Layout do cheque:</label>
								<div class="col-sm-3">
									<input type="text" required
										ng-model="controller.contaBancaria.layoutCheque"
										class="form-control" placeholder="Layout do cheque">
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="form-group" class="form-horizontal">
					<dir-pagination-controls class="col-sm-6 control-label"
						max-size="8" direction-links="true" boundary-links="true">
					</dir-pagination-controls>

					<div align="center" class="form-group"
						class="col-sm-6 control-label">
						<button type="submit" ng-click="controller.novo()"
							class="btn btn-default">Novo</button>
						<button data-target="#modal-mensagem" data-toggle="modal"
							ng-disabled="!controller.contaBancaria.descricao || !controller.contaBancaria.numero"
							type="submit" ng-click="controller.salvar()"
							class="btn btn-primary">Salvar</button>

						<button type="submit"
							ng-disabled="!controller.contaBancaria.descricao || !controller.contaBancaria.numero"
							data-ng-click="controller.deletar(contaBancariaSelecionado)"
							class="btn btn-danger">Excluir</button>
					</div>
				</div>

				<div class="modal fade" id="modal-mensagem">
					<div class="modal-dialog">
						<div
							ng-class="controller.alerts[0].type === 'success' ? 'alert alert-success' : 'alert alert-danger'"
							role="alert">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong ng-repeat="alert in controller.alerts">{{alert.msg}}</strong>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
	<div ng-include src="'footer.html'"></div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/dirPagination.js"></script>
	<script src="js/sweetalert-dev.js"></script>

</body>
</html>
