<!DOCTYPE html>
<html lang="pt-BR" ng-app="linhaModulo">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="img/favicon.ico">

<title>Linha</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/carousel.css" rel="stylesheet">
<link href="css/estilos.css" rel="stylesheet">
<link rel="stylesheet" href="css/sweetalert.css">

<script src="js/angular.js"></script>
<script src="controller/linha.js"></script>
</head>

<body ng-app="linhaModulo">

	<div ng-include src="'menu.html'"></div>
	<div ng-controller="linhaController as controller">
		<div class="container">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#lista"
					aria-controls="lista" role="tab" data-toggle="tab">Lista de
						Linha</a></li>
				<li role="presentation"><a href="#dados" aria-controls="dados"
					role="tab" data-toggle="tab">Dados</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="lista">
					<br> <label>Pesquisar:</label> <input type="text"
						ng-model="controller.pesquisaLinha" id="pesquisa"
						placeholder="Digite aqui..."> <br> <br>

					<div class="container">
						<table class="table table-striped table-hover">
							<th class="col-sm-3">Código</th>
							<th class="col-sm-6">Descrição</th>
							<th class="col-sm-2">LEAF</th>
							<th class="col-sm-2">Sequencia</th>
							<tr
								dir-paginate="linhaTabela in controller.linhas | filter:controller.pesquisaLinha |itemsPerPage:8"
								ng-dblclick="controller.selecionarLinha(linhaTabela)">
								<td>{{linhaTabela.codigo}}</td>
								<td>{{linhaTabela.descricao}}</td>
								<td>{{linhaTabela.leaf}}</td>
								<td>{{linhaTabela.sequencia}}</td>
								<td>
									<button type="button" data-toggle="tooltip" title="Excluir ?"
										ng-click="controller.removeRow(linhaTabela)"
										class="btn btn-xs btn-danger">
										<i class="glyphicon glyphicon-remove-circle"> </i>
									</button>
								</td>
							</tr>
						</table>
					</div>

				</div>

				<div role="tabpanel" class="tab-pane" id="dados">
					<br>
					<form class="form-horizontal">

						<div class="form-group">
							<label for="codigo" class="col-sm-2 control-label">Código:</label>
							<div class="col-sm-3">
								<input type="text" required ng-model="controller.linha.codigo"
									class="form-control" id="codigo" placeholder="Código">
							</div>
						</div>

						<div class="form-group">
							<label for="descricao" class="col-sm-2 control-label">Descrição:</label>
							<div class="col-sm-8">
								<input type="text" required
									ng-model="controller.linha.descricao" class="form-control"
									id="descricao" placeholder="Descrição">
							</div>
						</div>

						<div class="form-group">
							<label for="sequencia" class="col-sm-2 control-label">Sequência:</label>
							<div class="col-sm-2">
								<input type="text" required
									ng-model="controller.linha.sequencia" class="form-control"
									id="sequencia" placeholder="Sequência">
							</div>
						</div>

						<div class="form-group">
							<label for="leaf" class="col-sm-2 control-label">LEAF:</label>
							<div class="col-sm-4">
								<label> <input type="checkbox"
									ng-model="controller.linha.leaf"> Contribuinte ICMS
								</label>
							</div>
						</div>

					</form>
				</div>

				<div class="form-group" class="form-horizontal">
					<dir-pagination-controls class="col-sm-6 control-label"
						max-size="8" direction-links="true" boundary-links="true">
					</dir-pagination-controls>

					<div align="center" class="form-group"
						class="col-sm-6 control-label">
						<button type="submit" ng-click="controller.novo()"
							class="btn btn-default">Novo</button>
						<button data-target="#modal-mensagem" data-toggle="modal"
							ng-disabled="!controller.linha.descricao || !controller.linha.codigo"
							type="submit" ng-click="controller.salvar()"
							class="btn btn-primary">Salvar</button>

						<button type="submit"
							ng-disabled="!controller.linha.descricao || !controller.linha.sigla"
							data-ng-click="controller.deletar(unidadeSelecionado)"
							class="btn btn-danger">Excluir</button>
					</div>
				</div>

				<div class="modal fade" id="modal-mensagem">
					<div class="modal-dialog">
						<div
							ng-class="controller.alerts[0].type === 'success' ? 'alert alert-success' : 'alert alert-danger'"
							role="alert">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong ng-repeat="alert in controller.alerts">{{alert.msg}}</strong>
						</div>
					</div>
				</div>


			</div>
		</div>

	</div>
	<div ng-include src="'footer.html'"></div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/dirPagination.js"></script>
	<script src="js/sweetalert-dev.js"></script>

</body>
</html>
